<div class="modal fade" id="archiveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p id="archiveMessage" class="alert alert-warning"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Quitter</button>
        <a href="" type="button" class="btn btn-success" id="btnArchiveYes" >Valider</a>
      </div>
    </div>
  </div>
</div>